.login-button {
  background-color: var(--primary);
  color: var(--white) !important;
  padding: 8px 16px;
  border-radius: 22px;
  border: 2px solid var(--white);
}

.hero-login {
  background-color: var(--primary);
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--white);
  text-decoration: none;
  border: 2px solid var(--white);
}

.btn {
    font-family: ElMessiri;
    font-size: 20px;
}

/**  Button Custom Utilities **/
.btn-save:hover{
  color: var(--primary);
  border-color: var(--primary);
  background-color: var(--secondary);
}

.qardan-details button[type="submit"]:hover, .qardan-details-dahsboard button[type="submit"]:hover  {
  background-color: var(--secondary);
  color: var(--title-text-primary);
  border-color: var(--title-text-primary);
}

.btn-clear:hover {
  color: var(--title-text-primary);
  border-color: var(--title-text-primary);
}

.btn-deny:hover {
  background-color: var(--secondary);
  color: var(--primary);
  border-color: var(--primary);
}

.btn-edit-form:hover {
  background-color: var(--secondary);
  color: var(--button-secondary);
  border-color: var(--button-secondary);
}

.btn-success:hover {
  background-color: var(--secondary) !important;
  color: var(--title-text-primary) !important;
  border-color: var(--title-text-primary) !important;

}

.btn-cw-200 {
  width: 200px !important;
}

.btn-cw-150 {
  width: 150px !important;
}

.btn-primary-edit {
  background: #1998b2 !important;
  color: var(--secondary) !important;
}

.btn-primary-edit:hover {
  background: var(--secondary) !important;
  color: #1998b2 !important;
}

.btn-danger-delete {
  background: var(--warning) !important;
  color: var(--secondary) !important;
}

.btn-danger-delete:hover {
  background: var(--secondary) !important;
  color: var(--warning) !important;
}