
:root {
    --primary: #F09825;
    --white: #ffffff;
    --black: #000000;
    --title-text-primary: #0E4653;
    --secondary: #E9E6D7;
    --tertiary: #F1EFE5;
    --hover: #00695C;
    --footer-color: #0E4653E5;
    --divider-color: #0d4a52;
    --button-secondary: #31ACC8;
    --warning: #ff0000;
}

@font-face {
    font-family: ElMessiri;
    src: url(../ElMessiri.ttf);
  }
  